* {
    /*border: 1px solid black;*/
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    height: 100%;
    width: auto;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0b405a;
    padding: 0 20px;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    color: #dfa927;
    font-size: 30px;
}

.header-img {
    height: 10vh;
    width: auto;
}

.header-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

a {
    text-decoration: none;
    color: #dfa927;
    font-size: large;
}

.info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #e1bebe;
    gap: 40px;
    height: 60vh;
    color: #0b405a;
}

.info h1 {
    text-shadow: 0px 0px 5px white;
}

.info p {
    max-width: 800px;
    height: auto;
    text-align: justify;
    line-height: 1.5;
    color: #0b405a;
}

.rules {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #0b405a;
    height: 60vh;
    width: auto;
    color: #d05228;
}

.rules h1 {
    text-shadow: 0px 0px 3px black;
}

.rules p {
    
}

.rules-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.rules-list {
    text-align: center;
    line-height: 1.7;
}

.rules-img {
    flex: 1;
    font-size: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions {
    height: 60vh;
    width: auto;
    background: #dfa927;
    color: #0b405a;
    display: flex;
    justify-content: center;
    align-items: center;
}

.instructions-img {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 300px;
}

.instructions img {
    height: 50vh;
    width: auto;
    border: 2px solid white;
}

.instructions-body {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    padding: 0 40px 0 0;
}

.instructions-body h1 {
    text-shadow: 0px 0px 5px white;
}

.instructions-body p {
    max-width: 500px;
    height: auto;
    line-height: 1.5;
    text-align: justify;
}

.game {
    color: white;
    background: #d05228;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 40px;
}

.game h1,
.game h2 {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px black;
}

.scoreboard {
    display: flex;
    justify-content: center;
    align-items: center;
}

.results {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.chosen {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    /*height: 15vh;
    width: 15vh;*/
}

.btn-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    border-left: 2px solid white;
    border-right: 2px solid white;
}

button {
    height: 15vh;
    width: 15vh;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
    font-size: 60px;
    background: rgba(0,0,0,0);
    color: #FFFFFF;
    transition: 300ms;
}

button:hover {
    transform: scale(1.1);
    background: #0b405a;
}

.statement {
    color: white;
    text-align: center;
    text-shadow: 0px 0px 5px black;
    font-size: larger;
}

/*

.score-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    text-align: center;
    font-size: 35px;
    color: #FFFFFF;
    flex: 1;
}

.comment-result {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
}

*/

.footer {
    background: #0b405a;
    color: #dfa927;
    font-size: small;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}