* {
    border: 1px solid red;
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 100vh;
    width: auto;
}

.btn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 25px;
}

.results {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}